
@{
    ViewBag.Title = "AkademikEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Personel Kodu</label>
        <input type="text" class="form-control" name="pkod" required="" />
    </div>

    <div>
        <label>Sicil No</label>
        <input type="text" class="form-control" name="sicilno" required="" />
    </div>

    <div>
        <label>Personel Adı</label>
        <input type="text" class="form-control" name="padi" required="" />
    </div>

    <div>
        <label>Personel Soyadı</label>
        <input type="text" class="form-control" name="psoyadi" required="" />
    </div>

    <div>
        <label>Branş</label>
        <input type="text" class="form-control" name="bransi" required="" />
    </div>

    <div>
        <label>Bölümü</label>
        <input type="text" class="form-control" name="bolumu" required="" />
    </div>

    <div>
        <label>Personel TC No</label>
        <input type="text" class="form-control" name="ptc" required="" />
    </div>


    <div style="margin-top:25px">
        <button class="btn btn-success">Onayla</button>
    </div>

</form>

