
@{
    ViewBag.Title = "OgrenciEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Öğrenci No</label>
        <input type="text" class="form-control" name="ogrno" required="" />
    </div>

    <div>
        <label>Öğrenci TC No</label>
        <input type="text" class="form-control" name="ogrtcno" required="" />
    </div>

    <div>
        <label>Ögrenci Adı</label>
        <input type="text" class="form-control" name="ogradi" required="" />
    </div>

    <div>
        <label>Öğrenci Soyadı</label>
        <input type="text" class="form-control" name="ogrsoyadi" required="" />
    </div>

    <div>
        <label>Öğrenci Adresi</label>
        <input type="text" class="form-control" name="ogradres" required="" />
    </div>

    <div>
        <label>Öğrenci Bölümü</label>
        <input type="text" class="form-control" name="ogrbolumu" required="" />
    </div>

    <div>
        <label>Öğrenci Cinsiyet</label>
        <input type="text" class="form-control" name="ogrcins" required="" />
    </div>

    <div>
        <label>Öğrenci Doğum Tarihi</label>
        <input type="text" class="form-control" name="ogrdogumtar" required="" />
    </div>

    <div style="margin-top:25px">
        <button class="btn btn-success">Onayla</button>
    </div>

</form>
